.App {
  text-align: center;
  background-image: linear-gradient(red, yellow);
  padding: 25px;
  letter-spacing: 3px;
  line-height: 1.8;
  text-shadow: 3px 2px red;
  font-family: "Times New Roman", Times, serif;
  font-style: oblique;
  font-size: 40px;
}
